
/* Styles for the navigation bar */
.navbar {
  padding: 10px 13px; /* Adds padding around the navigation bar */
  background-color: white; /* Sets background color of the navigation bar */
}

/* Styles for the navigation links */
.navbar-links {
  list-style-type: none; /* Removes default bullet points from the list */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
  display: flex; /* Displays the navigation links as a flex container */
}

/* Styles for each navigation link */
.navbar-links li {
  display: inline; /* Displays list items inline */
  margin-right: 5px; /* Adds right margin between list items */
}

/* Styles for the last navigation link */
.navbar-links li:last-child {
  margin-right: 0; /* Removes right margin from the last list item */
}

/* Styles for anchor tags within navigation links */
.navbar-links a {
  text-decoration: none; /* Removes underline from links */
  color: black; /* Sets text color of links */
  font-weight: bold; /* Sets font weight of links */
  font-family: sans-serif; /* Sets font family of links */
  font-size: 15px; /* Sets font size of links */
}

/* Styles for anchor tags on hover */
.navbar-links a:hover {
  color: #ddd; /* Changes text color on hover */
}

/* Styles for the content section */
.content {
  padding: 20px; /* Adds padding around the content */
  min-height: calc(70vh - 50px); /* Sets minimum height of the content area */
  background: linear-gradient(to right, #87ceeb, #0077cc); /* Sets background color of the content area */
  position: relative; /* Sets positioning context for absolute positioning */
}

/* Styles for level 1 heading inside content */
.content h1 {
  color: transparent; /* Makes text transparent */
  -webkit-text-stroke: 2px white; /* Adds a black stroke around text */
  font-family: verdana; /* Sets font family */
  margin-left: 45px; /* Adds left margin */
  /* font-style: oblique; Removed duplicate property */
  margin-top: 10px; /* Adds top margin */
}

/* Styles for level 2 heading inside content */
.content h2 {
  color: white; /* Sets text color */
  font-weight: bold; /* Sets font weight */
  font-family: sans-serif; /* Sets font family */
  margin-left: 130px; /* Adds left margin */
  margin-top: 100px; /* Adds top margin */
}

/* Styles for additional content section */
.addcontent {
  text-align: center; /* Aligns content to center */
  position: absolute; /* Sets absolute positioning */
}

/* Styles for paragraph inside additional content */
.addcontent p {
  background: linear-gradient(to right, #87ceeb, #0077cc); /*light to dark gradient color */
  -webkit-background-clip: text; /* Clip text to the background */
  color: transparent; /* Set text color to transparent */
  -webkit-text-fill-color: transparent; /* Fill text with gradient */
  color: black; /* Makes text black */
  font-size: 30px; /* Sets font size */
  font-family: nunito; /* Sets font family */
  margin-left: -20px; /* Adds left margin */
  margin-top: 80px; /* Adds top margin */
}

/* Styles for the image */
.image {
  margin-left: 60px; /* Adds left margin */
  margin-top: 45px; /* Adds top margin */
  width: 200px; /* Sets width of the image */
  height: 200px; /* Sets height of the image */
  border-radius: 50%;
  border: 1px solid white;
}

/* Styles for content1 section */
.content1 {
  padding: 20px; /* Adds padding around the content */
  min-height: calc(100vh - 50px); /* Sets minimum height of the content area */
  background: linear-gradient(to right, #87ceeb, #0077cc);/* Background color of the content area */
  position: relative; /* Sets positioning context for absolute positioning */
}

/* Styles for paragraph inside content1 */
.content1 p {
  color: white; /* Sets text color */
  font-weight: bold; /* Sets font weight */
  font-family: sans-serif; /* Sets font family */
  margin-left: 20px; /* Adds left margin */
  margin-top: 30px; /* Adds top margin */
}

/* Styles for the image1 */
.image1 {
  margin-left: 80px; /* Adds left margin */
  margin-top: 5px; /* Adds top margin */
  width: 150px; /* Sets width of the image */
  height: 150px; /* Sets height of the image */
  border-radius: 50%; /* Applies border radius to create a circle */
}

/* Styles for the image2 */
.image2 {
    width: 150px; /* Adjusted width of the image */
    height: 150px; /* Adjusted height of the image */
    border-radius: 50%; /* Applies border radius to create a circle */
    margin-left: 80px;
    margin-top: 10px; /* Adjusted top margin */
  }

   .image3 {
    margin-right: 10px;
    width: 50px; /* Adjusted width of the image */
    height: 50px; /* Adjusted height of the image */
    border-radius: 50%; /* Applies border radius to create a circle */
  }
  .image4 {
    margin-left: 10px;
     width: 50px; /* Adjusted width of the image */
    height: 50px; /* Adjusted height of the image */
  }

@media screen and (min-width: 700px) {
  /* Adjusted styles for the navigation bar */
  .navbar {
    padding: 10px 50px; /* Adjusted padding */
  }

  /* Adjusted styles for list items in the navigation bar */
  .navbar-links li {
    display: block; /* Change to block display for stacking on smaller screens */
    margin-right: 0; /* Reset margin */
    margin-bottom: 10px; /* Add bottom margin for spacing between items */
  }

  /* Adjusted styles for content */
  .content {
    padding: 10px; /* Adjusted padding */
    min-height: calc(60vh - 50px); /* Adjusted minimum height */
    margin: 0 20px; /* Adjusted margin */
  }

  /* Adjusted styles for level 1 heading inside content */
  .content h1 {
    float: none; /* Reset float */
    margin-right: 0; /* Reset margin */
    margin-top: 20px; /* Adjusted top margin */
    font-size: 30px; /* Adjusted font size */
    font-style: normal; /* Reset font style */
  }

  /* Adjusted styles for level 2 heading inside content */
  .content h2 {
    margin-left: 20px; /* Adjusted left margin */
    margin-top: 40px; /* Adjusted top margin */
    font-size: 50px; /* Adjusted font size */
  }

  /* Adjusted styles for additional content */
  .addcontent {
    margin: 0 auto; /* Center align */
    position: relative; /* Reset position */
    text-align: center; /* Center align text */
  }

  /* Adjusted styles for paragraph inside additional content */
  .addcontent p {
    margin: 20px auto; /* Adjusted margin */
    font-size: 20px; /* Adjusted font size */
    margin-top: 40px; /* Adjusted top margin */
  }

  /* Adjusted styles for the image */
  .image {
    float: none; /* Reset float */
    margin: 0 auto; /* Center align */
    display: block; /* Change to block display */
  }

  /* Adjusted styles for the content1 section */
  .content1 {
    padding: 10px; /* Adjusted padding */
    min-height: calc(100vh - 50px); /* Adjusted minimum height */
    margin: 0 20px; /* Adjusted margin */
  }

  /* Adjusted styles for paragraph inside content1 */
  .content1 p {
    margin: 20px auto; /* Adjusted margin */
    font-size: 20px; /* Adjusted font size */
    margin-top: 40px; /* Adjusted top margin */
  }

  /* Adjusted styles for the image1 */
  .image1 {
    margin: 0 auto; /* Center align */
    display: block; /* Change to block display */
    margin-top: 20px; /* Adjusted top margin */
  }

  /* Adjusted styles for paragraph inside content1 with id #content1 */
  #content1 p {
    margin: 20px auto; /* Adjusted margin */
    font-size: 20px; /* Adjusted font size */
    margin-top: 40px; /* Adjusted top margin */
  }

  /* Adjusted styles for the image2 */
  .image2 {
    width: 150px; /* Adjusted width */
    height: 150px; /* Adjusted height */
    border-radius: 50%; /* Applies border radius */
    margin: 0 auto; /* Center align */
    display: block; /* Change to block display */
    margin-top: 20px; /* Adjusted top margin */
  }

   .image3 {
    margin-right: 10px;
    width: 50px; /* Adjusted width of the image */
    height: 50px; /* Adjusted height of the image */
    border-radius: 50%; /* Applies border radius to create a circle */
  }
  .image4 {
    margin-left: 10px;
     width: 50px; /* Adjusted width of the image */
    height: 50px; /* Adjusted height of the image */
  }
}

/* Media query for screens with a minimum width of 1000px */
@media only screen and (min-width: 1000px) {
  /* Adjusted styles for the navigation bar */
  .navbar {
    padding: 10px 450px; /* Adjusted padding */
    background-color: white; /* Background color of the navigation bar */
  }

  /* Adjusted styles for list items in the navigation bar */
  .navbar-links li {
    display: inline; /* Displays list items inline */
    margin-right: 30px; /* Adjusted margin between list items */
  }

  /* Adjusted styles for content */
  .content {
    padding: 20px; /* Adds padding around the content */
    min-height: calc(60vh - 50px); /* Sets minimum height of the content area */
    background: linear-gradient(to right, #87ceeb, #0077cc);/* Background color of the content area */
    position: relative; /* Sets positioning context for absolute positioning */
    margin: 0 100px;
  }

  /* Adjusted styles for level 1 heading inside content */
  .content h1 {
    float: right;
    color: transparent; /* Makes text transparent */
    -webkit-text-stroke: 2px white; /* Adds a black stroke around text */
    font-family: verdana; /* Sets font family */
    margin-right: 300px; /* Adjusted left margin */
    margin-top: -153px;
    font-size: 50px; /* Adjusted font size */
    font-style: oblique;
  }

  /* Adjusted styles for level 2 heading inside content */
  .content h2 {
    color: white; /* Sets text color */
    font-weight: bold; /* Sets font weight */
    font-family: nunito; /* Sets font family */
    margin-left: 350px; /* Adjusted left margin */
    margin-top: 150px; /* Adjusted top margin */
    font-size: 90px; /* Adjusted font size */
  }

  /* Adjusted styles for additional content */
  .addcontent {
    margin-left: 350px; /* Adjusted left margin */
    margin-top: 10px; /* Adjusted top margin */
    position: absolute; /* Sets absolute positioning */
  }

  /* Adjusted styles for paragraph inside additional content */
  .addcontent p {
    background: linear-gradient(to right, #87ceeb, #0077cc); /*light to dark gradient color */
    -webkit-background-clip: text; /* Clip text to the background */
    color: transparent; /* Set text color to transparent */
    -webkit-text-fill-color: transparent; /* Fill text with gradient */
    font-size: 30px; /* Sets font size */
    font-family: nunito; /* Sets font family */
    margin-left: 10px; /* Adjusted left margin */
    margin-top: 150px; /* Adjusted top margin */
    font-style: italic; /* Sets font style to italic */
  }

  /* Adjusted styles for the image */
  .image {
    float: left; /* Floats the image to the left */
    margin-left: -20px;
    width: 300px; /* Adjusted width of the image */
    height: 300px; /* Adjusted height of the image */
    margin-right: 60px; /* Adjusted right margin */
    margin-top: 112px; /* Adjusted top margin */
  }

  /* Resets the default margin of the body element */
  body {
    margin: 0;
  }

  /* Adjusted styles for the content1 section */
  .content1 {
    padding: 20px; /* Adds padding around the content */
    min-height: calc(100vh - 50px); /* Sets minimum height of the content area */
    background: linear-gradient(to right, #87ceeb, #0077cc); /* Background color of the content area */
    position: relative; /* Sets positioning context for absolute positioning */
  }

  /* Adjusted styles for paragraph inside content1 */
  .content1 p {
    color: white; /* Sets text color */
    font-weight: bold; /* Sets font weight */
    font-family: sans-serif; /* Sets font family */
    margin-left: 300px; /* Adjusted left margin */
    margin-top: -180px; /* Adjusted top margin */
  }

  /* Adjusted styles for the image1 */
  .image1 {
    float: left; /* Floats the image to the left */
    width: 200px; /* Adjusted width of the image */
    height: 200px; /* Adjusted height of the image */
    border-radius: 50%; /* Applies border radius to create a circle */
    margin-top: 50px; /* Adjusted top margin */
  }

  /* Adjusted styles for paragraph inside content1 with id #content1 */
  #content1 p {
    color: white; /* Sets text color */
    font-weight: bold; /* Sets font weight */
    font-family: sans-serif; /* Sets font family */
    margin-left: 300px; /* Adjusted left margin */
    margin-top: 165px; /* Adjusted top margin */
  }

  .image2 {
    width: 200px; /* Adjusted width of the image */
    height: 200px; /* Adjusted height of the image */
    border-radius: 50%; /* Applies border radius to create a circle */
    margin-left: 60px;
    margin-top: 150px; /* Adjusted top margin */
  }

  .image3 {
    margin-right: 10px;
    width: 50px; /* Adjusted width of the image */
    height: 50px; /* Adjusted height of the image */
    border-radius: 50%; /* Applies border radius to create a circle */
  }
  .image4 {
    margin-left: 10px;
     width: 50px; /* Adjusted width of the image */
    height: 50px; /* Adjusted height of the image */
  }
}